@charset "utf-8";

#header{height: 600px;background-image: url(../img/main-bg-001.jpg);background-size: cover;background-position: 50%;}
#header > .area{position: relative;height: calc(100% - 100px);padding: 0 20px;}
#header > .area .logo_bg{position: absolute;top: 0;left: 50%;transform: translate(-50%, -55%) rotate(45deg);width: 300px;height: 300px;background: #ffffff;border-radius: 30px;}
#header > .area .logo_img{position: absolute;top: 10px;left: 50%;transform: translateX(-50%);}
#header > .area .logo_img img{height: 120px;}
#header > .area p{position: absolute;bottom: 0;left: 20px;width: 280px;padding: 50px 20px;text-align: center;font-size: 32px;font-weight: bold;color: #ffffff;text-shadow: 0 0 4px rgba(0,0,0,.8);}
#header #gnb{background: rgba(0,0,0,.7);}
#header #gnb .area{}
#header #gnb .area ul{}
#header #gnb .area ul li{float: left;width: calc(100% / 3);background-size: cover;background-position: 50%;}
#header #gnb .area ul li:nth-child(1){background-image: url(../img/banner-01.jpg);}
#header #gnb .area ul li:nth-child(2){background-image: url(../img/banner-02.jpg);}
#header #gnb .area ul li:nth-child(3){background-image: url(../img/banner-03.jpg);}
#header #gnb .area ul li a{display: block;line-height: 100px;text-align: center;font-size: 30px;font-weight: bold;color: #c8c8c8;background-color: rgba(0,0,0,.7);transition: color 0.5s;}
#header #gnb .area ul li:hover a{color: #ffffff;}

#section{width: 1200px;margin: 0 auto;}
#section #article01{text-align: center;color: #ffffff;}
#section #article01 .title{}
#section #article01 .l_box{float: left;width: calc(100% / 4 * 3);}
#section #article01 .l_box ul{}
#section #article01 .l_box ul li{float: left;width: calc(100% / 3);background-size: auto 100%;background-position: 50%;transition: background-size 0.5s;}
#section #article01 .l_box ul li:nth-child(1){position: relative;width: calc(100% / 3 * 2);background-size: cover;background-image: url(../img/contents-000.jpg);filter: grayscale(100%);}
#section #article01 .l_box ul li:nth-child(2){background-image: url(../img/contents-006.jpg);}
#section #article01 .l_box ul li:nth-child(3){background-image: url(../img/contents-003.jpg);}
#section #article01 .l_box ul li:nth-child(4){background-image: url(../img/contents-005.jpg);}
#section #article01 .l_box ul li:nth-child(5){background-image: url(../img/contents-007.jpg);}
#section #article01 .l_box ul li + li:hover{background-size: auto 110%;}

#section #article01 .l_box ul li a{display: block;height: 300px;}
#section #article01 .l_box ul li + li a{background: rgba(0,0,0,.7);opacity: 0;transition: opacity 0.5s;}
#section #article01 .l_box ul li + li:hover a{opacity: 1;}

#section #article01 .l_box ul li a p{font-size: 24px;}
#section #article01 .l_box ul li:nth-child(1) a p{position: absolute;bottom: 20px;right: 20px;width: 130px;text-align: right;}
#section #article01 .l_box ul li + li a p{line-height: 300px;}

#section #article01 .r_box{position: relative;float: right;width: calc(100% / 4);background-size: cover;background-position: 50%;background-image: url(../img/contents-002.jpg);}
#section #article01 .r_box a{display: block;height: 600px;}
#section #article01 .r_box a p{position: absolute;bottom: 20px;right: 20px;width: 180px;font-size: 24px;text-align: right;}

#section #article02{text-align: center;color: #ffffff;}
#section #article02 .title{}
#section #article02 ul{}
#section #article02 ul li{float: left;width: calc(100% / 3);background-size: auto 100%;background-position: 50%;transition: background-size 0.5s;}
#section #article02 ul li:nth-child(1){background-image: url(../img/store04.jpg);}
#section #article02 ul li:nth-child(2){position: relative;height: 300px;overflow: hidden;}
#section #article02 ul li:nth-child(3){background-image: url(../img/store11.jpg);}
#section #article02 ul li:nth-child(4){background-image: url(../img/store07.jpg);}
#section #article02 ul li:nth-child(5){background-image: url(../img/store03.jpg);}
#section #article02 ul li:nth-child(6){background-image: url(../img/store06.jpg);}
#section #article02 ul li:hover{background-size: auto 110%;}
#section #article02 ul li a{display: table;width: 100%;}
#section #article02 ul li:nth-child(2) .video{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 180%;/* opacity: 0.5; */}
#section #article02 ul li a .center_box{display: table-cell;vertical-align: middle;height: 300px;background: rgba(0,0,0,.5);opacity: 0;transition: opacity 0.5s;}
#section #article02 ul li:hover a .center_box{opacity: 1;}
#section #article02 ul li a .center_box .spot{font-size: 24px;}
#section #article02 ul li a .center_box .bar{display: inline-block;width: 70px;height: 5px;margin: 5px 0 10px;background: #ffffff;}
#section #article02 ul li a .center_box .time{font-size: 14px;font-style: italic;}
#section #article02 ul li a .center_box .time{font-size: 14px;font-style: italic;}
.area{}
.area .btn_box{padding: 0 20px;margin: 60px 0 40px;background: #474747;font-size: 24px;}
.area .btn_box p{float: left;line-height: 80px;color: #ffffff;}
.area .btn_box button{float: right;width: 240px;line-height: 40px;margin: 20px 0;text-align: center;color: #474747;background: #ffffff;border-radius: 5px;}

#footer{background: #474747;}
#footer .area{padding-top: 20px;font-size: 0;color: #ffffff;}
#footer .area > div{display: inline-block;vertical-align: middle;width: calc(100% / 2);height: 150px;padding: 0 20px;}
#footer .area > div strong{font-size: 24px;padding-bottom: 20px;}
#footer .area > div p{font-size: 14px;}
#footer .area > p{font-size: 14px;line-height: 30px;text-align: center;}

@media (max-width:1199px){
    .area{width: 100%;}
    .title{padding: 20px 10px;font-size: 24px;}
    #header{height: 340px;}
    #header > .area{height: calc(100% - 40px);}
    #header > .area .logo_bg{width: 200px;height: 200px;border-radius: 20px;}
    #header > .area .logo_img{top: 5px;}
    #header > .area .logo_img img{height: 75px;}
    #header > .area p{padding: 0;bottom: 70px;left: 50%;transform: translateX(-50%);width: 180px;font-size: 24px;}
    #header #gnb .area ul li a{line-height: 40px;font-size: 18px;}

    #section{width: 100%;padding: 0 20px;}
    #section #article01 .l_box{float: left;width: 100%;}
    #section #article01 .l_box ul li{background-size: cover;}
    #section #article01 .l_box ul li + li:hover{background-size: cover;}
    #section #article01 .l_box ul li + li a{opacity: 1;}
    #section #article01 .r_box{display: none;}
    #section #article01 .l_box ul li a p{font-size: 18px;}

    #section #article02 ul li{background-size: cover;}
    #section #article02 ul li:hover{background-size: cover;}
    #section #article02 ul li a .center_box{opacity: 1;}
    #section #article02 ul li a .center_box .spot{font-size: 16px;}
    #section #article02 ul li a .center_box .bar{width: 40px;height: 2px;}
    #section #article02 ul li a .center_box .time{font-size: 12px;}
    #section #article02 ul li a .center_box span{display: none;}
    .area .btn_box{margin: 20px 0 10px;font-size: 16px;}
    .area .btn_box p{line-height: 50px;}
    .area .btn_box button{width: 155px;line-height: 25px;margin: 12.5px 0;}
    #footer .area > div strong{font-size: 16px;padding-bottom: 10px;}
    #footer .area > div p{font-size: 12px;}
    #footer .area > p{font-size: 12px;}
}

@media (max-width:767px){
    #header{height: 245px;}
    #header > .area{height: calc(100% - 45px);}
    #header > .area .logo_bg{width: 120px;height: 120px;border-radius: 12px;}
    #header > .area .logo_img img{height: 45px;}
    #header > .area p{bottom: 30px;}
    #header #gnb .area ul li a{line-height: 45px;}

    #section{padding: 0 10px;}
    #section #article01{position: relative;}
    #section #article01 .l_box ul li{width: calc(100% / 2);}
    #section #article01 .l_box ul li:nth-child(1){width: calc(100% / 2);}
    #section #article01 .l_box ul li a{height: 130px;}
    #section #article01 .l_box ul li a p{font-size: 16px;}
    #section #article01 .l_box ul li + li a p{line-height: 130px;}
    /* 이론적으로는 float: left;만으로 .r_box가 위로 올라가는게 맞으나, 오류가 나므로 position으로 선언해준다! */
    #section #article01 .r_box{display: block;position: absolute;bottom: 0;right: 0;/* float: left; */width: calc(100% / 2);}
    #section #article01 .r_box a{height: 130px;}
    #section #article01 .r_box a p{font-size: 16px;}

    #section #article02 ul li:nth-child(2){height: 155px;}
    #section #article02 ul li a .center_box{height: 155px;}
    .area .btn_box{padding: 0 10px;font-size: 14px;}
    .area .btn_box p{line-height: 42px;}
    .area .btn_box button{width: 135px;line-height: 22px;margin: 10px 0;}
    #footer .area{padding-top: 10px;}
    #footer .area > div{height: 100px;padding: 0 10px;}
    #footer .area > div strong{font-size: 14px;line-height: 20px;}
}

@media (max-width:639px){
    .title{font-size: 16px;}
    #header > .area p{bottom: 45px;width: 135px;font-size: 18px;}
    #header #gnb .area ul li a{font-size: 14px;}
    
    #section #article01 .l_box ul li:nth-child(1){width: 100%;}
    #section #article01 .l_box ul li a{height: 60px;}
    #section #article01 .l_box ul li:nth-child(1) a{height: 125px;}
    #section #article01 .l_box ul li + li a p{line-height: 60px;}
    #section #article01 .r_box{display: none;}

    #section #article02 ul li{width: 100%;}
    #section #article02 ul li:nth-child(2){display: none;}
    #section #article02 ul li a .center_box{height: 60px;}
    #section #article02 ul li a .center_box .spot{font-size: 14px;}
    #section #article02 ul li a .center_box .bar{display: none;}
    #section #article02 ul li a .center_box .time{display: none;}
    .area .btn_box{display: none;}
    #footer{margin-top: 20px;}
    #footer .area{padding-top: 0px;}
    #footer .area > div{display: none;}
    #footer .area > p{font-size: 12px;}
}